{% extends 'base.html' %}

{% block title %}Вход{% endblock title %}

{% block content %}
    <div class="container pt-3 w-75 ">
        <h2 class="h2">Войти в аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Логин</label>
                <input type="text" class="form-control" id="id_username" name="username">
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="id_password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
{% endblock content %}